@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('HelveticaNeueLTStd-Cn.woff') format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Helvetica;
  background-color: #ea4d44;
}

.index{
  background-color: #ffffff;
}

#login{
  color: #1b1b1b;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 100%;
  border-color: none;
  background-color: #ea4d44;
}

#loginLogo{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
input{
  display: block;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}
label{
  margin-bottom: 10px;
}

button[type="submit"]{
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
}

.title{
  font-weight: bold;
}

.header{
  width: 100%;
}

.container{
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color: #ffffff;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

  .box{
    background-color:#ea4d44;
    padding:20px;
    border-radius:10px;
    color:#1b1b1b;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
  }
}

.shake {
  animation: shake 2s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.box:hover {
  animation: shake 2s;
}

#redDiv{
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ea4d44;
  width: 200px;
  height: 200px;
}

#greenDiv{
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #56c271;
  width: 200px;
  height: 200px;
}

h1{
  font-size: 80px;
  color: white;
  font-weight: bold;
  display: block;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-top: 50px;
}

.anchor{
  text-decoration: none;
  color:#1b1b1b;
}

@media only screen and(max-width: 768px) {
  .header{
    padding-top: 500px;
  }

}

#logButton{
  text-decoration: none;
  color: white;
}
